body {
  text-align: center;
  font-family: "Arial";
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
#container {
  width: 70%;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: lightgray;
}
#container h1 {
  font-size: 20px;
}

#post {
  padding: 20px;
}

#cabecera {
  background: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  color: red;
  font-weight: bold;
  margin: 0;
  padding: 0.7em;
}
#cabecera #logo {
  width: 25px;
}
#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#footer {
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
